<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Cat's Data</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <style>
        body {
            background-color: greenyellow
        }
        h1 {
            font-size: large;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: forestgreen">
        <div class="navbar-fixed-top">
            <font size="5" href="/" class="navbar-fixed-top" style="color: gold; position: absolute; left:24px">Cat's data</font>
        </div>
    </div>
    <form>
        <input type="text" name="Input_id" value={{id_into}}>
        <textarea name="TextArea">{{x}}</textarea>
        <input type="submit" formmethod="get" formaction="/data_f" value="Найти">
        <input type="submit" formmethod="post" formaction="/data" value="Сохранить">
        <input type="submit" formmethod="get" formaction="/data_d" value="Удалить" />
    </form>

    <h1>{{message}}</h1>

    {% block scripts %}{% endblock %}

</body>
</html>